body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.note {
  background: #222;
  color: #fff;
  max-width: 150px;
  min-height: 200px;
  border: 2px solid rgb(141, 136, 136);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  position: absolute;
  
}
.notes-list {
  list-style-type: none;
  display: flex;
}
.change-deadline-container {
  display: flex;

}
.plus {
  width: 50px;
  height: 50px;
  font-size: 2.5em;
  background-image: url('./img/plus.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.minus {
  width: 50px;
  height: 50px;
  font-size: 2.5em;
  background-image: url('./img/minus.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.add-note-button {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-image: url('./img/plus_white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3390dc;
  border: none;
  border-radius: 40px;
  transition-duration: 0.4s;
}
.add-note-button:hover {
  box-shadow: 1px 0px 7px 0px #000;
  cursor: pointer;
}

.new-note-details {
  position: relative;
  width: 500px;
  background: #eff6ff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #3390dc;
}

.new-note-details input {
  margin: 1em;
  font-size: 1.2em;
}

.new-note-details textarea{
  width: -webkit-fill-available;
  margin: 1em;
  padding: .5em;
  overflow: hidden;
  resize: none;
}

.new-note-details ol {
  padding: 0;
}
.list-item {
  list-style-type: none;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.list-item:hover {
  background: #3390dc;
  transition-duration: 0.4s;
}

/* ==== START PANEL ==== */

.login-button {
  border: none;
  background: #3390dc;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

.oko {
  display: inline;
}
/*=========================*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

